.cart-content{
    margin-top: 50px;
    text-align: center;
    width: 80%;
    display: flex;


}

.td{
    padding: 5px;
}

.cart-item-name, .cart-item-price, .cart-item-category, th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: black;
    text-overflow: ellipsis;
}

.product-table{
    border: 1px solid gray;
    background-color: whitesmoke;
    text-align: center;
    width: 60%;
    margin-left: 30%;
    border-radius: 5px;

}

.info-box{
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    width: 350px;
    height: 300px;
    margin-left: 5px;
    background-color: whitesmoke;
}

.cart-icon-img{
    width: 30px;
    height: 30px;
}

.cart-item-img{
    border: solid 1px gray;
    width: 200px;
    border-radius: 5px;
}

.cart-total-sum{
    margin: 5px;
    text-align: center;
    width: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

img.empty-cart-img{
    position: absolute;
    top: 800px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;

}

.checkout-button{
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 100px;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.checkout-button-container{
    position: relative;
}

