.catagory-view{
    text-align: center;
    width: 100%;
}
.categoryNew{
    margin: 20px;
}
.categoryShoes{
    margin: 20px;
}
.categoryShirts{
    margin: 20px;
}
.items-length{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

.categoryNew:hover{
    transform: scale(1.05);
}
.categoryNew{
    transition: transform .25s ease;
}

.categoryShoes:hover{
    transform: scale(1.05);
}
.categoryShoes{
    transition: transform .25s ease;
}

.categoryShirts:hover{
    transform: scale(1.05);
}
.categoryShirts{
    transition: transform .25s ease;
}

@media only screen and (min-width: 768px){
    .categoryNew{
        width: 5%;
    }
    .categoryShirts{
        width: 5%;
    }
    .categoryShoes{
        width: 5%;
    }

}

@media only screen and (min-width: 1000px){
    .categoryNew{
        width: 2.5%;
    }
    .categoryShirts{
        width: 2.5%;
    }
    .categoryShoes{
        width: 2.5%;
    }

}


