.catagory-view{
    text-align: center;
}
.categoryNew{
    margin: 20px;
}
.categoryShoes{
    margin: 20px;
}
.categoryShirts{
    margin: 20px;
}
.items-length{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}