
.heading {
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 100px;
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    border: 1px solid grey;
}
body{
    position: relative;
    overflow-x: hidden;
}
.logo-img{
}

.logo{
    margin-left: 50px;
    margin-top: 25px;
}



.headerButtons {
    display: flex;
    width: 250px;
    margin-top: 15px;

}
.headerButtonText{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.headerButtonIcon{
    height: 30px;
    width: 30px;
    padding: 5px;
}
.headerTitle{
    height: 100px;
}

.cart-counter{
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: black;
    border-radius: 50px;
    color: white;
    text-align: center;
}
