
.heading {
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 100px;
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}
body{
    position: relative;
    overflow-x: hidden;
}


.logo-img{
    width: 700px;
    height: 700px;
    display: block;
    margin-top: -212.5px;
    margin-left: 575px;
    position: absolute;
}

.headerButtons {
    display: flex;
    width: 250px;
    margin-top: 30px;

}
.headerButtonText{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.headerButtonIcon{
    height: 30px;
    width: 30px;
    padding: 5px;
}
.headerTitle{
    height: 100px;
}

