
a:link {
    text-decoration: none;
  }

.content {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    
}

.item {
    padding: 5%;
}

.item:hover img{
    transform: scale(1.05);
}

a{
    flex: 25%
}


.item-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: black;
    text-overflow: ellipsis;
}



.item-price{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2px;
    color: black;
    text-overflow: ellipsis;
}

.item:hover img{
    transform: scale(1.05);
}

.item-img{
    transition: transform .25s ease;
    width: 75%;
}
